<section>
  <button (click) = "close()">Fechar</button>
  
  <div>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="nome">Nome:</label>
        <input id="nome" formControlName="nome">
      </div>
      
      <div>
        <label for="descricao">Descrição:</label>
        <input id="descricao" formControlName="descricao">
      </div>
      
      <div>
        <label for="preco">Preço:</label>
        <input id="preco" formControlName="preco" type="number">
      </div>
      
      <div>
        <label for="quantity">Quantidade:</label>
        <input id="quantity" formControlName="quantity" type="number">
      </div>
      
      <div>
        <label for="categoryNome">Categoria:</label>
        <input id="categoryNome" formControlName="categoryNome">
      </div>
      
      <button type="submit" [disabled]="productForm.invalid">Adicionar Produto</button>
      <span *ngIf="showError" class="error-message">Categoria não existe</span>
    </form>
</div>
</section>