<section>
    <section class="medium-class">
        <div>
          <input class="search" placeholder="Procurar categoria" [(ngModel)]="searchTerm" (input)="filterProductsByNomeOrCategoryNome()">
          <button (click)="openCategoryCreateDialog()">Adicionar Categoria</button>

        </div>
    </section>
    <ul class="ul-list-all">
      <li *ngFor="let category of categories$ | async">
        <button class="delete" (click)="deleteCategory(category.id)">Delete category</button>
        <button class="salvar" (click)="enableEditing(category)">Editar categoria</button>
        <div class="info">
          <p>Nome: </p>
          <span *ngIf="editingId !== category.id">{{ category.nome }}</span>
          <input *ngIf="editingId === category.id" [(ngModel)]="updatedName" />
        </div>
        <div class="info">
          <p>Descrição: </p>
          <span *ngIf="editingId !== category.id">{{ category.descricao }}</span>
          <input *ngIf="editingId === category.id" [(ngModel)]="updatedDescription" />
        </div>
        <button class="salvar" *ngIf="editingId === category.id" (click)="cancelEditing()">Cancelar</button>
        <button class="salvar" *ngIf="editingId === category.id" (click)="saveCategory(category)">Cancelar</button>

    </li>
    </ul>
  </section>
  